/* universal styling */

html {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}


/* header */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container img {
  padding-right: 15px;
  height: 20px;
  width: auto;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 100px;
}

/* body */

.main {
  background-image: url("../moto.jpeg");
  height: 400px;
  width: 918px;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-item {
  text-align: left;
  height: 100px;
  width: 300px;
  background-color: black;
  margin: 100px;
  padding-top: 10px;
  padding-left: 20px;
}

/* navigation mid-body */

.flex-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  background-color: #B00024;
  height: 40px;
  width: 918px;
}
